name: Hello world
on: workflow_dispatch
jobs:
  first-job:
    runs-on: ubuntu-latest
    steps:
      - name: Greetings
        run: echo "Hello world"
      - name: send off
        run: echo "Bye, see you"
        

  
  
  
